:root {
  --badge-label-font-family: "DM Sans", Helvetica;
  --badge-label-font-size: 12px;
  --badge-label-font-style: normal;
  --badge-label-font-weight: 500;
  --badge-label-letter-spacing: 0.20000000298023224px;
  --badge-label-line-height: 22px;
  --body-font-family: "DM Sans", Helvetica;
  --body-font-size: 14px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0.20000000298023224px;
  --body-line-height: normal;
  --body-s-font-family: "DM Sans", Helvetica;
  --body-s-font-size: 12px;
  --body-s-font-style: normal;
  --body-s-font-weight: 500;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: normal;
  --BRANDBOOK-2-subt-tulos-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-2-subt-tulos-font-size: 17px;
  --BRANDBOOK-2-subt-tulos-font-style: normal;
  --BRANDBOOK-2-subt-tulos-font-weight: 700;
  --BRANDBOOK-2-subt-tulos-letter-spacing: 0px;
  --BRANDBOOK-2-subt-tulos-line-height: 125%;
  --BRANDBOOK-destaques-font-family: "Bricolage Grotesque", Helvetica;
  --BRANDBOOK-destaques-font-size: 38px;
  --BRANDBOOK-destaques-font-style: normal;
  --BRANDBOOK-destaques-font-weight: 700;
  --BRANDBOOK-destaques-letter-spacing: 0px;
  --BRANDBOOK-destaques-line-height: 114.99999761581421%;
  --BRANDBOOK-legenda-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-legenda-font-size: 15px;
  --BRANDBOOK-legenda-font-style: normal;
  --BRANDBOOK-legenda-font-weight: 400;
  --BRANDBOOK-legenda-letter-spacing: 0px;
  --BRANDBOOK-legenda-line-height: 114.99999761581421%;
  --BRANDBOOK-pequeno-subt-tulo-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-pequeno-subt-tulo-font-size: 16px;
  --BRANDBOOK-pequeno-subt-tulo-font-style: normal;
  --BRANDBOOK-pequeno-subt-tulo-font-weight: 700;
  --BRANDBOOK-pequeno-subt-tulo-letter-spacing: 0px;
  --BRANDBOOK-pequeno-subt-tulo-line-height: 129.99999523162842%;
  --BRANDBOOK-pequeno-texto-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-pequeno-texto-font-size: 16px;
  --BRANDBOOK-pequeno-texto-font-style: normal;
  --BRANDBOOK-pequeno-texto-font-weight: 400;
  --BRANDBOOK-pequeno-texto-letter-spacing: 0px;
  --BRANDBOOK-pequeno-texto-line-height: 129.99999523162842%;
  --BRANDBOOK-rodap-font-family: "Instrument Sans", Helvetica;
  --BRANDBOOK-rodap-font-size: 15.199995040893555px;
  --BRANDBOOK-rodap-font-style: normal;
  --BRANDBOOK-rodap-font-weight: 500;
  --BRANDBOOK-rodap-letter-spacing: 0px;
  --BRANDBOOK-rodap-line-height: 99.8075008392334%;
  --BRANDBOOK-subt-tulos-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-subt-tulos-font-size: 28px;
  --BRANDBOOK-subt-tulos-font-style: normal;
  --BRANDBOOK-subt-tulos-font-weight: 700;
  --BRANDBOOK-subt-tulos-letter-spacing: 0px;
  --BRANDBOOK-subt-tulos-line-height: 110.00000238418579%;
  --BRANDBOOK-t-tulos-font-family: "Bricolage Grotesque", Helvetica;
  --BRANDBOOK-t-tulos-font-size: 175px;
  --BRANDBOOK-t-tulos-font-style: normal;
  --BRANDBOOK-t-tulos-font-weight: 400;
  --BRANDBOOK-t-tulos-letter-spacing: -3.5px;
  --BRANDBOOK-t-tulos-line-height: 89.99999761581421%;
  --BRANDBOOK-tag-font-family: "Instrument Sans", Helvetica;
  --BRANDBOOK-tag-font-size: 21.850568771362305px;
  --BRANDBOOK-tag-font-style: normal;
  --BRANDBOOK-tag-font-weight: 500;
  --BRANDBOOK-tag-letter-spacing: 0px;
  --BRANDBOOK-tag-line-height: 99.8075008392334%;
  --BRANDBOOK-texto-font-family: "DM Sans", Helvetica;
  --BRANDBOOK-texto-font-size: 17px;
  --BRANDBOOK-texto-font-style: normal;
  --BRANDBOOK-texto-font-weight: 400;
  --BRANDBOOK-texto-letter-spacing: 0px;
  --BRANDBOOK-texto-line-height: 114.99999761581421%;
  --button-label-font-family: "DM Sans", Helvetica;
  --button-label-font-size: 14px;
  --button-label-font-style: normal;
  --button-label-font-weight: 500;
  --button-label-letter-spacing: 0px;
  --button-label-line-height: normal;
  --flowkitblue: rgba(0, 153, 255, 1);
  --flowkitcharcoal: rgba(34, 34, 34, 1);
  --flowkitgreen: rgba(41, 204, 106, 1);
  --flowkitpurple: rgba(123, 97, 255, 1);
  --flowkitred: rgba(252, 85, 85, 1);
  --flowkitwhite: rgba(255, 255, 255, 1);
  --functional-colors-feedback-colors-notification-pure: var(
    --primitives-orange-orange-500
  );
  --functional-colors-feedback-colors-warning: var(
    --primitives-orange-orange-900
  );
  --functional-colors-hightlight-colors-hightlight-dark: var(
    --primitives-green-green-900
  );
  --functional-colors-hightlight-colors-hightlight-light: var(
    --primitives-green-green-300
  );
  --functional-colors-hightlight-colors-hightlight-medium: var(
    --primitives-green-green-700
  );
  --functional-colors-hightlight-colors-hightlight-pure: var(
    --primitives-green-green-500
  );
  --functional-colors-main-colors-primary-primary-light: var(
    --primitives-blue-blue-300
  );
  --functional-colors-main-colors-primary-primary-medium: var(
    --primitives-blue-blue-700
  );
  --functional-colors-main-colors-primary-primary-medium-duplicate: var(
    --primitives-blue-blue-700-duplicate
  );
  --functional-colors-main-colors-primary-primary-pure: var(
    --primitives-blue-blue-500
  );
  --functional-colors-main-colors-primary-primary-pure-duplicate: var(
    --primitives-blue-blue-500-duplicate
  );
  --functional-colors-main-colors-secondary-secondary-dark: var(
    --primitives-beige-beige-700
  );
  --functional-colors-main-colors-secondary-secondary-light: var(
    --primitives-beige-beige-200
  );
  --functional-colors-main-colors-secondary-secondary-light-duplicate: var(
    --primitives-beige-beige-200-duplicate
  );
  --functional-colors-main-colors-secondary-secondary-medium: var(
    --primitives-beige-color-500
  );
  --functional-colors-main-colors-secondary-secondary-pure: var(
    --primitives-beige-beige-300
  );
  --functional-colors-neutral-colors-high-high-dark: var(--primitives-pink-900);
  --functional-colors-neutral-colors-high-high-light: var(
    --primitives-gray-scale-gray-0
  );
  --functional-colors-neutral-colors-high-high-pure: var(
    --primitives-off-white-off-white-300
  );
  --functional-colors-neutral-colors-high-high-pure-duplicate: var(
    --primitives-off-white-off-white-300-duplicate
  );
  --functional-colors-neutral-colors-low-low-dark: var(
    --primitives-gray-scale-gray-900
  );
  --functional-colors-neutral-colors-low-low-light: var(
    --primitives-gray-scale-gray-300
  );
  --functional-colors-neutral-colors-low-low-medium: var(
    --primitives-gray-scale-gray-500
  );
  --functional-colors-neutral-colors-low-low-pure: var(
    --primitives-blue-blue-900
  );
  --headline-font-family: "Bricolage Grotesque", Helvetica;
  --headline-font-size: 48px;
  --headline-font-style: normal;
  --headline-font-weight: 700;
  --headline-letter-spacing: 0px;
  --headline-line-height: normal;
  --highlight-text-font-family: "DM Sans", Helvetica;
  --highlight-text-font-size: 20px;
  --highlight-text-font-style: normal;
  --highlight-text-font-weight: 400;
  --highlight-text-letter-spacing: 0px;
  --highlight-text-line-height: normal;
  --home-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
  --input-label-font-family: "DM Sans", Helvetica;
  --input-label-font-size: 14px;
  --input-label-font-style: normal;
  --input-label-font-weight: 400;
  --input-label-letter-spacing: 0px;
  --input-label-line-height: 32px;
  --numbers-font-family: "Bricolage Grotesque", Helvetica;
  --numbers-font-size: 72px;
  --numbers-font-style: normal;
  --numbers-font-weight: 400;
  --numbers-letter-spacing: 0px;
  --numbers-line-height: 40px;
  --overline-description-font-family: "DM Sans", Helvetica;
  --overline-description-font-size: 12px;
  --overline-description-font-style: normal;
  --overline-description-font-weight: 500;
  --overline-description-letter-spacing: 0.20000000298023224px;
  --overline-description-line-height: 22px;
  --overline-m-font-family: "DM Sans", Helvetica;
  --overline-m-font-size: 20px;
  --overline-m-font-style: normal;
  --overline-m-font-weight: 700;
  --overline-m-letter-spacing: 0.20000000298023224px;
  --overline-m-line-height: 22px;
  --overline-x-font-family: "DM Sans", Helvetica;
  --overline-x-font-size: 14px;
  --overline-x-font-style: normal;
  --overline-x-font-weight: 400;
  --overline-x-letter-spacing: 0.20000000298023224px;
  --overline-x-line-height: 22px;
  --primitives-beige-beige-200: rgba(253, 251, 238, 1);
  --primitives-beige-beige-200-duplicate: rgba(253, 251, 238, 1);
  --primitives-beige-beige-300: rgba(251, 247, 229, 1);
  --primitives-beige-beige-700: rgba(204, 202, 188, 1);
  --primitives-beige-beige-900: rgba(196, 177, 121, 1);
  --primitives-beige-color-500: rgba(225, 223, 207, 1);
  --primitives-blue-blue-300: rgba(216, 228, 214, 1);
  --primitives-blue-blue-500: rgba(1, 84, 248, 1);
  --primitives-blue-blue-500-duplicate: rgba(1, 84, 248, 1);
  --primitives-blue-blue-700: rgba(143, 163, 161, 1);
  --primitives-blue-blue-700-duplicate: rgba(143, 163, 161, 1);
  --primitives-blue-blue-900: rgba(0, 17, 55, 1);
  --primitives-gray-scale-gray-0: rgba(255, 255, 255, 1);
  --primitives-gray-scale-gray-300: rgba(217, 217, 217, 1);
  --primitives-gray-scale-gray-500: rgba(178, 178, 178, 1);
  --primitives-gray-scale-gray-900: rgba(110, 106, 106, 1);
  --primitives-green-green-300: rgba(237, 236, 128, 1);
  --primitives-green-green-500: rgba(195, 215, 20, 1);
  --primitives-green-green-700: rgba(179, 178, 109, 1);
  --primitives-green-green-900: rgba(143, 129, 4, 1);
  --primitives-off-white-off-white-300: rgba(244, 243, 236, 1);
  --primitives-off-white-off-white-300-duplicate: rgba(244, 243, 236, 1);
  --primitives-off-white-off-white-500: rgba(240, 238, 225, 1);
  --primitives-orange-orange-300: rgba(246, 222, 169, 1);
  --primitives-orange-orange-500: rgba(252, 139, 92, 1);
  --primitives-orange-orange-900: rgba(227, 15, 60, 1);
  --primitives-orange-organge-600: rgba(255, 99, 0, 1);
  --primitives-pink-300: rgba(246, 207, 251, 1);
  --primitives-pink-500: rgba(235, 125, 198, 1);
  --primitives-pink-900: rgba(149, 138, 170, 1);
  --section-name-font-family: "DM Sans", Helvetica;
  --section-name-font-size: 14px;
  --section-name-font-style: normal;
  --section-name-font-weight: 500;
  --section-name-letter-spacing: 0px;
  --section-name-line-height: normal;
  --shadow-attention-100: 0px 4px 48px 0px rgba(1, 84, 248, 0.48);
  --shadow-attention-50: 0px 4px 48px 0px rgba(1, 84, 248, 0.16);
  --shadow-level-1: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-level-2: 0px 4px 16px 8px rgba(0, 0, 0, 0.04);
  --stories-name-font-family: "DM Sans", Helvetica;
  --stories-name-font-size: 8px;
  --stories-name-font-style: normal;
  --stories-name-font-weight: 400;
  --stories-name-letter-spacing: 0.20000000298023224px;
  --stories-name-line-height: 22px;
  --subtitle-font-family: "DM Sans", Helvetica;
  --subtitle-font-size: 20px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 500;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;
  --title-1-font-family: "DM Sans", Helvetica;
  --title-1-font-size: 32px;
  --title-1-font-style: normal;
  --title-1-font-weight: 700;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: normal;
  --title-2-font-family: "Bricolage Grotesque", Helvetica;
  --title-2-font-size: 24px;
  --title-2-font-style: normal;
  --title-2-font-weight: 700;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: normal;
  --title-3-font-family: "DM Sans", Helvetica;
  --title-3-font-size: 20px;
  --title-3-font-style: normal;
  --title-3-font-weight: 700;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: normal;
  --title-4-font-family: "DM Sans", Helvetica;
  --title-4-font-size: 16px;
  --title-4-font-style: normal;
  --title-4-font-weight: 700;
  --title-4-letter-spacing: 0px;
  --title-4-line-height: normal;
}
