.div-wrapper {
  border: 1.04px solid;
  border-color: #001137;
  border-radius: 11.41px;
  height: 26px;
  left: 3796px;
  overflow: scroll;
  position: relative;
  top: 110px;
  width: 86px;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .div-wrapper {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    max-width: 150px;
    margin: 5px;
    display: inline-block;
  }
}

.div-wrapper .text-wrapper-8 {
  color: #001137;
  font-family: "Instrument Sans", Helvetica;
  font-size: 12.3px;
  font-weight: 500;
  height: 46.15%;
  left: 17.47%;
  letter-spacing: 0;
  line-height: 12.2px;
  position: absolute;
  top: 27.00%;
  white-space: nowrap;
  width: 67.44%;
}

.div-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}
